button {
  background-color: var(--grey-90-a10);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1rem;
  height: 2rem;
  min-width: 2rem;
  padding: 0 1rem;
}

button:hover {
  background-color: var(--grey-90-a20);
}

button:active {
  background-color: var(--grey-90-a30);
}

button[disabled] {
  background-color: var(--grey-90-a10);
  opacity: 0.4;
  cursor: not-allowed;
}
