@import url('https://cdn.rawgit.com/FirefoxUX/design-tokens/master/photon-colors/photon-colors.css');

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  max-width: 100.5em;
  margin: 0 auto;
  color: var(--grey-90);
  background-color: var(--grey-10);
  font-family: -apple-system, BlinkMacSystemFont, 'segoe ui', 'helvetica neue', helvetica, ubuntu, roboto, noto, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

nav,
aside {
  flex-basis: 25%;
}

nav > ul {
  position: sticky;
  top: 0;
  z-index: 1;
  float: right;
  padding: 1rem;
}

nav > ul > li {
  padding: 1rem;
}

nav > ul > li:hover {
  background-color: var(--grey-90-a10);
}

aside > ul {
  position: sticky;
  top: 0;
  z-index: 1;
  float: left;
  padding: 1rem;
}

aside > ul > li {
  padding: .25rem .5rem;
  font-size: .875rem;
}

aside > ul > li:hover {
  background-color: var(--grey-90-a10);
}

main {
  max-width: 48em;
  background-color: white;
  border-left: 1px solid var(--grey-20);
  border-right: 1px solid var(--grey-20);
  flex-grow: 1;
  padding-bottom: 3rem;
}

input[type="text"].search {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1rem 1rem 1rem 2.5rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  border: none;
  border-bottom: 1px solid var(--grey-20);
  background-image: url("../images/search.svg");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 1rem;
}

section {
  border-bottom: 1px solid var(--grey-20);
}

section > div {
  display: flex;
  align-items: center;
}

section > div:first-of-type {
  padding: 1rem;
}

section > div:not(:first-of-type) {
  padding: 0 1rem 1rem;
}

section > div > a {
  flex-grow: 1;
}

section > div > button {
  margin: -.5rem 0;
}

section > div > label {
  margin-right: 1rem;
}

section > div > input + label {
  margin-right: .5rem;
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.grey-50 {
  color: var(--grey-50);
}

h2 {
  border-bottom: 1px solid var(--grey-20);
  font-weight: 600;
  padding: 3rem 1rem .5rem 1rem;
}

h3 {
  color: var(--grey-50);
  font-weight: 400;
  margin: 1rem .5rem 0 1rem;
}

a {
  color: var(--blue-50);
  text-decoration: none;
}

a:hover {
  color: var(--blue-60);
  text-decoration: underline;
}

a:active {
  color: var(--blue-70);
}

small {
  color: var(--grey-50);
  font-size: .875rem;
}